<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="libscript.css">
    <title>Schrodinger Case Library</title>
    <link rel = "icon" href = "icon.png"
        type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="header">
      <img class="header_pic" src="icon.png" alt="">
      <p class="header_Desc">SCHRÖDINGER BY <a href="https://www.globalgovernanceinitiative.org/" class="one">GLOBAL GOVERNANCE INITIATIVE</a></p>
    </div>
    <div class="row">
      <ul class="cards">
      <li>
        <a href="intaff" class="card">
          <img src="4.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
              <div class="card__header-text">
                <h3 class="card__title">International Affairs Case</h3>
              </div>
            </div>
            <p class="card__description">Help the client (Government of India) decide whether the government of India should provide a grant to Nepal.</p>
          </div>
        </a>
      </li>
      <li>
        <a href="agricase" class="card">
          <img src="1.png" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
              <div class="card__header-text">
                <h3 class="card__title">Agriculture Case</h3>
              </div>
            </div>
            <p class="card__description">Help the client (Government of India) double farmers' income over the next 5 years.</p>
          </div>
        </a>
      </li>
      </ul>
      <ul class="cards">
        <li>
          <a href="drinkingwater" class="card">
            <img src="3.png" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                <div class="card__header-text">
                  <h3 class="card__title">Drinking Water Case</h3>
                </div>
              </div>
              <p class="card__description">Help the client (Government of India) decide whether the government of India improve drinking water quality in rural parts of the country.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="malaria" class="card">
            <img src="2.png" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                <div class="card__header-text">
                  <h3 class="card__title">Vaccination UN Case</h3>
                </div>
              </div>
              <p class="card__description">Help the client (United Nations) drive the Malaria vaccination program in Sri Lanka.</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
