<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Join Schrodinger</title>
    <link rel="stylesheet" href="nouserredirectscript.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap" rel="stylesheet">
    <link rel = "icon" href = "icon.png" type = "image/x-icon">
  </head>
  <body>
    <div class="headerT">
      <img src="https://static.wixstatic.com/media/f7385c_7659d3bf2de54cfe9da9234d67ea8c23~mv2.png/v1/fill/w_133,h_132,al_c,q_85,usm_0.66_1.00_0.01/%C2%AE.webp" class="header_picT"></img>
      <div class="heading">
        <p class="up"><b>GLOBAL GOVERNANCE INITIATIVE</b></p>
        <p class="down">CREATING NEXT-GENERATION LEADERS</p>
      </div>
      <div class="links">
        <a href="https://www.globalgovernanceinitiative.org/">Home</a>
        <a href="https://www.globalgovernanceinitiative.org/mission">Mission</a>
        <a href="https://www.globalgovernanceinitiative.org/">Services</a>
        <a href="https://www.globalgovernanceinitiative.org/impactlabyoungleaders">Impact Lab, Young Leaders</a>
        <a href="https://www.globalgovernanceinitiative.org/schr%C3%B6dinger">Schrödinger</a>
        <a href="https://www.globalgovernanceinitiative.org/the-trinity">The Trinity</a>
        <a href="https://www.globalgovernanceinitiative.org/wiggly">Wiggly</a>
        <!-- <a href="https://www.globalgovernanceinitiative.org/council-on-sustainable-development">Council on Sustainable Development</a> -->
        <div class="dropdown">
          <button class="dropbtn">More</button>
          <div class="dropdown-content">
            <a href="https://www.globalgovernanceinitiative.org/ggiimpactlab">Impact Lab</a>
            <br>
            <a href="https://www.globalgovernanceinitiative.org/careers">Careers</a>
            <br>
            <a href="https://www.globalgovernanceinitiative.org/council-on-sustainable-development">Council On Sustainable Development</a>
          </div>
        </div>
        </div>
    </div>
    <div class="content">
      <p>Hey there ! You currently don't have access to The Schrodinger by GGI.</p>
      <p>To get access to GGI's Artificial-Intelligent Micro Learning Policy/Consulting/Product Experience, become part of it's exceptional community.</p>
      <p>Looking forward to meet you!.</p>
      <br><br>
      <div class="row">
        <div class="column">
          <div class="card"><b>Tech MBA Scholars</b><br><br><br>
          <button type="button" class="apply"><a href="https://www.globalgovernanceinitiative.org/ggi-tech-mba" style="color:white">Apply Now</a></button>
          </div>
        </div>
        <div class="column">
          <div class="card"><b>Impact MBA Scholars</b><br><br><br>
          <button type="button" class="apply"><a href="https://www.globalgovernanceinitiative.org/ggi-scholars" style="color:white">Apply Now</a></button>
          </div>
        </div>
        <div class="column">
          <div class="card"><b>Policy Scholars</b><br><br><br>
          <button type="button" class="apply"><a href="https://www.globalgovernanceinitiative.org/ggipolicyscholarsprogram" style="color:white">Apply Now</a></button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
