<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="utf-8">
    <title>Schrodinger by GGI</title>
    <link rel="stylesheet" href="../public/script.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel = "icon" href = "icon.png"
        type = "image/x-icon">
  </head>
  <body>
    <div class="headerT">
      <img src="https://static.wixstatic.com/media/f7385c_7659d3bf2de54cfe9da9234d67ea8c23~mv2.png/v1/fill/w_133,h_132,al_c,q_85,usm_0.66_1.00_0.01/%C2%AE.webp" class="header_picT"></img>
      <div class="heading">
        <p class="up"><b>GLOBAL GOVERNANCE INITIATIVE</b></p>
        <p class="down">CREATING NEXT-GENERATION LEADERS</p>
      </div>
      <div class="links">
        <a href="https://www.globalgovernanceinitiative.org/">Home</a>
        <a href="https://www.globalgovernanceinitiative.org/mission">Mission</a>
        <a href="https://www.globalgovernanceinitiative.org/">Services</a>
        <a href="https://www.globalgovernanceinitiative.org/schr%C3%B6dinger">Schrödinger</a>
        <a href="https://www.globalgovernanceinitiative.org/the-trinity">The Trinity</a>
        <a href="https://www.globalgovernanceinitiative.org/wiggly">Wiggly</a>
        <a href="https://www.globalgovernanceinitiative.org/council-on-sustainable-development">Council on Sustainable Development</a>
        <div class="dropdown">
          <button class="dropbtn">More</button>
          <div class="dropdown-content">
            <a href="https://www.globalgovernanceinitiative.org/ggiimpactlab">Impact Lab</a>
            <br>
            <a href="https://www.globalgovernanceinitiative.org/careers">Careers</a>
          </div>
        </div>
        </div>
    </div>
    <div class="top" >
      <img src="../public/icon.png" alt="" id="titleImg">
      <div class="Desc">
        <p class="DescHead">SCHRÖDINGER</p>
        <p class="DescHead">BY</p>
        <p class="DescHead">GLOBAL GOVERNANCE INITIATIVE</p>
        <p class="DescBody">Only Global Interactive Simulation 24/7 Available Tool</p>
        <p class="DescBody">For Consulting & Product Case Interview Preparation</p>
      </div>
    </div>
    <div class="content">
      <p id="sp">There is a rising need amongst leading organizations in impact sector requiring employees and
      applicants to solve agile and unique problems as machines are taking over mundane tasks.</p>
      <p id="sp">Global Governance Initiative has been at the forefront of serving the cause by providing upskilling
        and career opportunities in this sector. As a first step, many talented professionals are not aware
        of the importance and value of learning case solving because of which they also struggle to find good
        quality cases to solve and mentors to prepare themselves. Hence, we at Global Governance Initiative
        decided to do something about it. </p>
        <div class="innerCont">
          <p id="sp">There is a method and process to learn everything especially problem-solving skills.
             The more you practice the more your analysis skills sharpen. Our Artificial-Intelligent interactive
             problem-solving and interview preparation simulation tool is available on-demand 24/7 and is open for
             all, thereby truly democratizing learning for ALL. </p>
          <p id="sp">It tests your raw learning capabilities, allowing you unpack ambiguity with evidence and become a
            problem solving expert with infinite practice with our uniquely picked problems.
            Schrödinger allows you to expose yourself and learn to break down problems into logically coherent
            pathways in the impact domain.  </p>
          <p id="sp">Schrödinger by GGI offers scalability, which means everyone gets world-class advice from GGI
            Co-Founders and costs a fraction of what traditional consultants charge on an hourly basis for guidance.
            If you are a self- starter, tech-lover and a busy person then Schrödinger by GGI is a great fit for you !
          </p>

        </div>
      <p id="sp">It is specifically designed by Boston Consulting Group (BCG), Mckinsey & Co.,
        and Former Government of India advisors to make youth more ready to participate in the workforce
        by allowing them to problem solve without being dependent on a buddy, self-evaluate and expose
        themselves in advance to the nuances of how consulting interviews look like.</p>
      <p id="sp">Never spend countless hours waiting for a response from a mentor, the way you’d have to wait to hear
        back from a traditional mentor. Whether you’re traveling for work, on your lunch break, or have a 3 am
        flash of motivation, Schrödinger by GGI is ready whenever (and wherever!) you are.</p>
      <p id="sp">You'd also get to become part of like-minded professionals community on Telegram upon
        successfully finishing Schrödinger!</p>
    </div>
    <br>
    <a href="/auth/google"><button type="button" name="button" class="join">ACCESS SCHRÖDINGER BY GGI</button></a>

    <br>
    <p style="text-align:center" class="belowPay"><em>Please note: If you are a GGI Scholars/ Fellows/ Impact Lab/ Young Leaders - you have free access to this tool as a part of the buddy system.</em> </p>
    <br>
    <p class="nextHead">WHAT DO YOU GET</p>
    <img src="../public/ggiplayss.png" class="poster" alt=""></img>
    <p class="nextHead">IMPACT OF SCHRÖDINGER BY GGI</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MCDs3ngZmYs" class="vid" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay="true"; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="icons">
      <a href="https://www.youtube.com/channel/UCFgYJZVI3fQ9M0bF2Suv02Q">
        <img src="https://static.wixstatic.com/media/78aa2057f0cb42fbbaffcbc36280a64a.png/v1/fill/w_55,h_55,al_c,q_85,usm_0.66_1.00_0.01/78aa2057f0cb42fbbaffcbc36280a64a.webp" alt="">
      </a>
      <a href="https://www.facebook.com/globalgovernanceinitiativefoundation.org/">
        <img src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_55,h_55,al_c,q_85,usm_0.66_1.00_0.01/0fdef751204647a3bbd7eaa2827ed4f9.webp" alt="">
      </a>
      <a href="https://www.linkedin.com/company/global-governance-initiatives/">
        <img src="https://static.wixstatic.com/media/6ea5b4a88f0b4f91945b40499aa0af00.png/v1/fill/w_55,h_55,al_c,q_85,usm_0.66_1.00_0.01/6ea5b4a88f0b4f91945b40499aa0af00.webp" alt="">
      </a>
    </div>
  </body>
</html>
