body{
  color:#303030;
}
.headerT{
  display: flex;
  padding-bottom: 50px;
  padding-top: 20px;
}
.header_picT{
  padding-left: 35px;
}
.heading{
  padding-top: 22px;

  padding-right: 120px;
  font-family: 'Cinzel', serif;
}
.up{
  font-size: 15px;
  font-size: 1.4vw;
  padding-bottom: 12px;
}
.down{
  font-size: 11px;
  font-size: 0.92vw;

}
.links{
  font-size: 11px;
  font-size: 0.92vw;
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
  /* font-weight: bold; */
}
a:link, a:visited{
  padding-right: 13px;
  text-decoration: none;
  color:black;
}
.dropbtn {
  border: none;
  font-size: 11px;
  font-size: 0.92vw;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  /* font-weight: bold; */
}

.dropdown {
  font-size: 11px;
  font-size: 0.92vw;
  /* position: relative; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {display: block;}
.top{
  flex:1;
  /* padding:30px 150px; */
  display:flex;
  flex-direction: row;
  /* display: inline-flex; */
  /* justify-content:center; */
  height: 320px;
  padding-bottom: 40px;
  font-family: 'Cinzel', serif;
  width:100%;
  object-fit: contain;


}
#titleImg{
  width:33%;
  height:auto;

}
#titleImg:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.blink {
  animation: blink 3s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.Desc{
  text-align: center;
  color: white;
  justify-content: center;

  padding-left: 1.3vw;
  padding-right: 1.3vw;
  background-color: #ffe747;
  /* padding-top:0.8vw; */
  /* padding-bottom: 30px; */
}
.innerCont{
  font-weight: bold;
}
#sp{
  margin-bottom: 26px;
}
.content{
  font-size:14.5px;
  font-size:1.1vw;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 40px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  /* justify-content: space-between; */

}
.DescHead{
  font-size: 45px;
  font-size:3.7vw;
  line-height: 17px;
  line-height: 1.3vw;
  font-weight: bold;
}
.DescBody{
  font-size: 25px;
  font-size:1.6vw;
  line-height: 8px;
  line-height: 0.7vw;
}


/* BUTTON STYLES */
.join{
  margin:auto;
  display:block;
  padding:10px 15px;
  font-size:14px;
  font-size: 1.1vw;
  font-weight:200;
  color:#fff;
  background: black;
  border:0;
  font-weight:100;
}
.join:hover{
  background: gray;
}
.belowPay{
  font-family: 'Poppins', sans-serif;
  font-size:14.5px;
  font-size:1.1vw;
}
.nextHead{
  font-weight:lighter;
  text-align: center;
  font-size: 27px;
  font-size: 2vw;
  font-family: 'Cinzel', serif;

}
iframe {
   display: block;
   margin: 0 auto;
}
.a{
  text-decoration:none;
}
.poster{
  width:100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}
.vid{
  padding-bottom: 50px;
}
.icons{
  text-align: center;
  padding-bottom: 30px;
}
